.btn-clip {
  float: right;
  position: relative;
  padding: 5px 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  animation: logo-spin infinite 20s alternate;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
